<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gerardbradshaw.mater">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".helpers.MaterApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".activities.main.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gerardbradshaw.mater.activities.main.MainActivity" />
        </activity> <!-- Shopping List Activity -->
        <activity
            android:name=".activities.shoppinglist.ShoppingListActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Add Recipe Activity -->
        <activity
            android:name=".activities.addrecipe.AddRecipeActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Recipe Detail Activity -->
        <activity
            android:name=".activities.recipedetail.RecipeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Main Activity -->
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>